# Week 26 (25th June - 1st July 2018) - Number of New Ads

In [1]:
#packages
import pandas as pd
import csv
import matplotlib as plt
import statsmodels.formula.api as smf
import statsmodels.api as sm
import numpy as np
import seaborn as sns
from statsmodels.formula.api import ols
import glob
import pycountry
from datetime import datetime

#chaning the number of columns that are displayed. get will tell you how much. 
pd.set_option("display.max_columns",50)
sns.set_style("whitegrid")

#currency converter
from currency_converter import CurrencyConverter
c = CurrencyConverter('http://www.ecb.int/stats/eurofxref/eurofxref-hist.zip')

pd.options.mode.chained_assignment = None

In [2]:
##### Cleaning

df_raw=pd.read_excel("26_newads.xlsx")

#subsetting data
df_newads=df_raw.loc[df_raw["insert_time"]>=datetime(2018,6,25)]

#dropping columns
df_newads.drop(columns=["id","status","real_budget","start_date","end_date","url","ad_set_campaign_id",
                       "margin_percentage","facebook_ad_set_id","facebook_ad_account_id","facebook_business_id",
                       "short_url","ad_url_domain_id"], inplace=True)

df_newads["total"]=1

In [3]:
df_jeanine=df_newads.loc[df_newads["marketer_name"]=="Jeanine de Konnigh"]
df_abby=df_newads.loc[df_newads["marketer_name"]=="Abby Listerman"]
df_rob=df_newads.loc[df_newads["marketer_name"]=="Rob Ransome"]
df_eoin=df_newads.loc[df_newads["marketer_name"]=="Eoin Hennessy"]
df_mimmi=df_newads.loc[df_newads["marketer_name"]=="Mimmi Ångström"]
df_robin=df_newads.loc[df_newads["marketer_name"]=="Robin Ten Hove"]
df_onno=df_newads.loc[df_newads["marketer_name"]=="Onno Bossen"]
df_philip=df_newads.loc[df_newads["marketer_name"]=="Philip Snoey Kiwiet"]
df_marleen=df_newads.loc[df_newads["marketer_name"]=="Marleen Blokker"]
df_daniela=df_newads.loc[df_newads["marketer_name"]=="Daniela Jacobo Gallardo"]
df_sam=df_newads.loc[df_newads["marketer_name"]=="Sam Drentje"]

## Jeanine de Konnigh

In [4]:
df_jeanine=df_jeanine.groupby(by=['campaign_name']).sum()
df_jeanine=df_jeanine[["total"]]
df_jeanine

                                              total
campaign_name
Divina Pastora - Dental Insurance - Lead Ads      3
Intereno NL - LA Brochure Inspiratie              4
Intereno NL - LA Brochure Tips                    3
Intereno NL - RSP                                 3
Intereno NL - RSP A/B test                        6
Upstairs BENL - Lead Ads                          4
Upstairs BENL - Lead ads - Cities                20
Upstairs BENL - QZ Renovatieprofiel v2 - B        4
Upstairs DE                                       4
Upstairs DE - Lead Ads                            8
Verisure Services (UK) Limited                    5

## Abby Listerman

In [5]:
df_abby=df_abby.groupby(by=['campaign_name']).sum()
df_abby=df_abby[["total"]]
df_abby

                               total
campaign_name
Greenpeace Taiwan - Antarctic      1
Save the Children Australia        7
UNHCR Australia                    1

## Rob Ransome

In [6]:
df_rob=df_rob.groupby(by=['campaign_name']).sum()
df_rob=df_rob[["total"]]
df_rob

                                                    total
campaign_name
AudicaoActiva PT - MIC - Lead Ads - New                 5
Belsono - Belsono Hearing Centers - Experience/...      2
Belsono - Hearing Health - Free Evaluation              7
Bloom Hearing UK - EVOKE                                4
Bloom Hearing UK - beyond - RSP v2                      2
Bloom Hearing UK - beyond RSP - City ads               71
Crateful                                                2
Helix Hearing Care - QZ V1                              3
Vitakustik IIC                                          3
Vitakustik IIC - Lead Ads                               3
Widex Brazil- Rio de Janeiro                            4
Widex Brazil- Sao Paulo                                 4

## Eoin Hennessy

In [7]:
df_eoin=df_eoin.groupby(by=['campaign_name']).sum()
df_eoin=df_eoin[["total"]]
df_eoin

                    total
campaign_name
Blackberry Hearing      8

## Mimmi Ångström

In [8]:
df_mimmi=df_mimmi.groupby(by=['campaign_name']).sum()
df_mimmi=df_mimmi[["total"]]
df_mimmi

                                           total
campaign_name
Make A Wish Australia                         16
Victor Chang Institute Australia petition      2
WDC Whales and Dolphins - UK                   1

## Robin Ten Hove

In [9]:
df_robin=df_robin.groupby(by=['campaign_name']).sum()
df_robin=df_robin[["total"]]
df_robin

                                                    total
campaign_name
AudioNova BEFR - White label IIC                        3
AudioNova BENL - QZ V3 IIC - General                    9
AudioNova DK - Moxi Now QZ - Cities                    30
AudioNova IT - Luna C - RSP - Regular                   3
AudioNova IT - Luna C - RSP - Regular - Split test      3
GEERS DE - IIC QZ V3 - New - Regular                    7
GEERS PL - Luna R-R - QZ - Split test                   3
HelloFresh BEFR - Italiaanse Keukenquiz - algemeen      5
HelloFresh BEFR - Kookenquête Vakantiepark              5
HelloFresh BEFR - Prijzenrad KitchenAid 449             4
HelloFresh BENL - Prijzenrad KitchenAid 449             4
HelloFresh BENL - Raad de Pasta                         4
HelloFresh DE - Tester gesucht V2 - B                   2
HelloFresh NL - Kookenquête Nespresso                   1
Miracle Ear Genius 3.0                                  4
Schoonenberg - Luna 9 - QZ V5 - B                       1

## Onno Bossen

In [10]:
df_onno=df_onno.groupby(by=['campaign_name']).sum()
df_onno=df_onno[["total"]]
df_onno

                                     total
campaign_name
Medicare Angola NA PT                    1
Medicare Dental Testers PT NA            3
Medicare Familia PT NA                   3
Medicare Familia PT NA - V2              7
Medicare PT - Dental - Lead Ads          7
Medicare Vetecare - Lead Ads             2
Melhor Alarme PT - NA                    2
Optical Express DE                       2
Optical Express DE - Cities              9
Prescan NL - V2 Budget Optimization      6

## Philip Snoey Kiwiet

In [11]:
df_philip=df_philip.groupby(by=['campaign_name']).sum()
df_philip=df_philip[["total"]]
df_philip

                  total
campaign_name
Akoustica Medica      4

## Marleen Blokker

In [12]:
df_marleen=df_marleen.groupby(by=['campaign_name']).sum()
df_marleen=df_marleen[["total"]]
df_marleen

                                  total
campaign_name
Stichting Vluchteling NL - Steun      4

## Daniela Jacobo Gallardo

In [13]:
df_daniela=df_daniela.groupby(by=['campaign_name']).sum()
df_daniela=df_daniela[["total"]]
df_daniela

                                                    total
campaign_name
Aldeas Infantiles SOS ES - Child Violence V3            6
Aldeas Infantiles SOS de Espana - Bullying - Le...      2
Ethiopiaid                                              1

## Sam Drentje

In [14]:
df_sam=df_sam.groupby(by=['campaign_name']).sum()
df_sam=df_sam[["total"]]
df_sam

                                                 total
campaign_name
Stichting DierenLot - steunbetuiging - Lead Ads      2

In [15]:
%%html
<script src="https://cdn.rawgit.com/parente/4c3e6936d0d7a46fd071/raw/65b816fb9bdd3c28b4ddf3af602bfd6015486383/code_toggle.js"></script>